
.heading{
    font-size: 4rem;
    color: white;
}
.subtitle{
    font-size: 1.4rem;
    color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 60px;
    width: 60px;
    outline: white;
}

ul{
    list-style-type:disc;
}